.card{
    margin: 10px;
}
h1{
    text-align: center;
    padding-top: 20px;
}
form.login{
    text-align:right;
    right:0px;
    top: 0;
    display:block;
}
input.input#name,input.input#png{
    width: 500px;
    
}
input{
    margin-top: 20px;
}